.footer {
    padding-top: 70px;
    /* max-width: var(--max-width);
    margin: auto; */
    
    /* padding-left: 35px; */
    background-color: rgb(12 11 11);
    gap: 20px;
    padding-bottom: 20px;

    box-shadow: 0 0 0 100vmax rgb(12 11 11);
    clip-path: inset(-2px -100vmax 0 -100vmax);

}



.caption{
    /* width: 277px; */
    font-size: 11px;
    font-weight: 300;
    font-family: 'Kamerik105-Book';
    line-height: 15px;
    letter-spacing: 1px;
    color: #9C9C9C;
    padding-bottom: 20px;
}

.logoWrapper {
    
  padding-bottom: 20px;
}

.logo {
    height: 85px;
  
}
.logo:hover{
    cursor: pointer;
}

.stayInTouchText{
    color: #9C9C9C;
    font-family: 'Kamerik105-Book';
}
.socialIconsWrapper {
    display: flex;
    gap: 18px;
}

.socialIcon {
    font-size: 25px;
    color: #9C9C9C;
    display: inline;
    justify-content: space-between;

}

.input{
    padding-left: 31px;
    width: 50px;
    border-style: solid;
    /* background: border-box; */
    /* border: gray; */
    letter-spacing: 1px;
    font-family: 'Kamerik105-Book';
    background-color: rgb(0 0 0);
    border-color: #535353;
    font-size: 15px;
    border-width: 0.5px;
    /* border-right: none; */
    width: 70%;
    color: white;
    outline: none;
    height: 100%;
    min-width: 190px;
}


.button{
    
    font-family: 'Kamerik105-Book';
    color: white;
    border-width: 0.5px;
    border-Top: 0.5px;
    border-right:  0.5px;
    border-bottom: 0.5px;
    border-style: solid;
    background-color: rgb(12 11 11);
    border-color: #535353;
    font-size: 11px;
    letter-spacing: 2px;
    width: 30%;
    cursor: pointer;
    min-width: 90px;

}


.info{
    font-size: 12px;
    padding-bottom: 12px;
    color: white;
    display: flex;
    align-items: center;
    /* line-height: 17px; */
    font-family: 'Kamerik105-Book';
}

.infoText3{
    width: 265px;
    line-height: 19px;

}
.heading1{
    padding-top: 15px;
    padding-bottom: 34px;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    font-family: 'Kamerik105-Book';


}
.footerLink{
    display: -webkit-inline-flex;
}
.heading2{
    padding-top: 15px;
    padding-bottom: 34px;
    font-size: 22px;
    color: white;
    letter-spacing: 1px;

    font-family: 'Kamerik105-Book';

}
.heading3{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;

    font-family: 'Kamerik105-Book';
    color: white;

}
.contactInfo{
    padding-left: 60px;
    

    
}

.stayInTouch{
    /* position:absolute; */

    /* right: 33px; */
    
}
.stayInTouchText{ padding-bottom: 10px;
    font-size: 12px;
    padding-bottom: 26px;
    font-family: 'Kamerik105-Book';
}
.upperSection{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding-top: 68px;
    padding-bottom: 90px;
    gap: 3rem;
}
.upperSection > div {
    flex: 1;
    
}
.subscription{
    font-family: 'Kamerik105-Book';
    color: white;
    display: flex;
    height: 62px;

}
.footerLink{
 /* width: 80px; */
 padding-right: 2rem;
 display: -webkit-inline-box;
}
.list{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Kamerik105-Book';
    letter-spacing: 1px;
    color: #9C9C9C;
}
.list:hover{
   color:  white;
}
.menu{
    gap: 13px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer2{
    padding-top: 130px;
    font-family: 'Kamerik105-Book';
    color: #9C9C9C;
}
.lowerSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left{
    display: flex;
    font-size: 11px;
    gap:20px;
    
}
.copyrights2{
         /* float: inherit; */
    /* position: absolute;
    right: 32px; */
    font-size: 13px;
    /* bottom: -69px; */
    margin-top: -16px;
    /* top: 41px; */
}
.sendUsABrief{
    /* position: absolute;
    right: 23px; */
    font-size: 14px;
    width: 173px;
    color: #9C9C9C;

}
.line2{
    border: 1px solid #252525;
    position: relative;
    left: 0;
    right: 0;
  }

.infoIcon{
    /* width: 26px; */
    color: #4a4a4a;
    /* padding-right: 18px; */

}
.socialheading{
    display: block;
}

.infoIcon > img{
 width: 100%;
 filter: invert(50%);
 height: 20px;
 width: 20px;
 background-color: rgba(0,0,0,0);
}
.notify {
  padding:10px 0 ;
  color: rgb(249, 154, 26);
  font-family: 'Kamerik105-Book';
  font-size: small  ;
}

@media screen and (max-width: 600px)     {
    .subscription{
        /* flex-wrap: wrap; */
        height :50px;
    }
    .input{
        /* height: 65%; */
        /* width: 50%; */
        padding: 0 5px;
        font-size: .7rem;
    }
    .button{
        /* width: 50%; */
        /* height: 35%; */
        flex: 1;
        font-size: .5rem;
    }
    .footer{
        padding: 0 10px;
    }
    .upperSection{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .heading2, .heading1{
        padding-top: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    .heading2{
        padding-top: 0;
        padding-bottom: 10px;
    }
    .infoText2{
        padding-bottom: 0;
    }
    .footer2{
        padding: 3rem  0 1rem 0;
    } 
    .contactInfo{
        padding-left: 0 ;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .logoWrapper{
        padding: 30px 0 20px 0;
        display: flex;
        justify-content: center;
    }
    .logo{
        height: 50px;
        margin-left: -4.5px;
    }
    .caption{
        text-align: center;
    }
    .socialIcon{
        margin-right: 0;
        font-size: 20px;
    }
    .socialIconsWrapper {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    .menu{
        gap: 0px;

    }
    .footerLink{
        padding: 0 !important;
    }
    .footerLinksContainer{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .sendUsABrief{
        position: unset;
        justify-content: flex-end;
        width: 100%;
    }
    .sendUsABrief{
        margin: 10px 0 ;
        text-align: center;
    }
    .sendUsABrief span{
        display: none;
    }
    .lowerSection{
        flex-direction: column-reverse;
    }
    .copyrights2{
        font-size: 10px !important;
        display: flex;
        justify-content: center;
    }
    .left{
        font-size: 10px !important;
        gap: 3rem;
        justify-content: center;        
       
    }
    .list , .sendUsABrief p  , .stayInTouchText, .info{
        font-size: 0.7rem;
        word-spacing: 1.5px;
        text-align: center;
    }
    .info{
        padding-bottom: 0%;
        display: flex;
        gap: 18px;
        justify-content: center;
        align-items: center;
    }
    .info .infoIcon > img{
        width: 18px;
        height: 18px;
    }
    /* .infoIcon{
        padding-right: 0;
    } */
    
}

@media screen and (min-width: 600px) and (max-width: 700px)     {
    .footer2{
        padding-top: 0px;
        padding: 3rem  0 1rem 0;

    }
    .contactInfo{
        padding-left: 0;
    }
    .upperSection{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px)     {
    .footer{
        padding-left:2rem;
        padding-right:2rem;
    }
    .footer2{
        padding-top: 0px;
        padding: 3rem  0 1rem 0;

    }
}

/*
@media screen and (max-width: 910px) {
    .logo{
        height: 75px;
    }
.footer{
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
}
    .upperSection {
        display: block;
    }
    .caption{
        padding-top: 15px;
        width: 364px;
        padding: 29px;
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    color: #9C9C9C;
    padding-bottom: 20px;
    }
    .contactInfo{
        padding: 0;
    }
    .footerLinksContainer{
      display: contents;
      line-height: 21px;
       
    }
    .footer2{
        padding-top: 35px;

    }
    .list{
        text-decoration: none;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 1px;
        color: #9C9C9C;
    }
    .sendUsABrief{
        padding-top: 25px;
        font-family: sans-serif;
        font-size: 18px;
        padding-top: 25px;
padding-bottom: 25px;
        position: inherit;
    }
    .copyrights2{
     font-size: 18px;
     position: inherit;
    }
    .lowerSection{
        display: inline;
    }
    .left{
        font-size: 18px;
        display: inline-flex;
    }
    .menu{
        display:contents;
    }
    .button{
        width: 200px;
    padding: 26px;
    }
    .input{
        width: 322px;
    padding: 26px;
    }
    .info{
        width: auto;
        font-size: 18px;

    }
    .heading1{
        padding-top: 42px;
        padding-bottom: 17px;
        font-size: 26px;
        color: white;
        font-family: sans-serif;
    }
    .stayInTouch{
        position:initial;
    }
    .stayInTouchText{
        font-size: 19px;
    }

 
}
@media screen and (max-width: 1120px) {
    .logo{
        height: 75px;
        padding-left: 15px;

    }
.footer{
    text-align: left;
    padding-left: 0;
   
}
    .upperSection {
        display: block;
    }
    .socialIcon{
        font-size: 25px;
    color: #9C9C9C;
    display: inline;
    padding-left: 20px;
    justify-content: space-between;
    margin-right: 0px;
    padding-top: 20px;
    }
    .caption{
        padding-top: 15px;
        width: 408px;
        padding: 29px;
        text-align: left;
        font-size: 14px;
    font-family: sans-serif;
    color: #9C9C9C;
    padding-bottom: 20px;
    }
    .contactInfo{
        padding: 0;
    }
    .footerLinksContainer{
      display: contents;
      line-height: 21px;
       
    }
    .footer2{
        padding-top: 35px;

    }
    .list{
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
        letter-spacing: 1px;
        color: #9C9C9C;
    }
    .sendUsABrief{
        font-family: sans-serif;
        font-size: 14px;
        left: 171px;
       
        margin-left: 102px;
    }
    .copyrights2{
     font-size: 7px;
     padding-top: 10px;
    }
   
    .left{
        font-size: 10px;
        display: grid;
        gap: 0;
    }
        
    
    .line{
        display: none;
    }
    .menu{
        display:contents;
    }
    .button{
        width: 110px;
        padding: 15px;
    }
    .input{
        width: 210px;
    padding: 15px;
    }
    .info{
       
        justify-content: center;
    font-size: 12px;
    line-height: 20px;
    }
    .infoIcon{
    padding-top: 0;
    font-size: 20px;
    padding-right: 5px;
    }
   
    .infoText3{
      
        width: 175px;}
    .heading1{
        padding-top: 42px;
        padding-bottom: 17px;
        font-size: 25px;
        color: white;
        font-family: sans-serif;
    }
    .heading2{
        padding-top: 42px;
        padding-bottom: 17px;
        font-size: 25px;
        color: white;
        font-family: sans-serif;
    }
    .stayInTouch{
        position:initial;
    }
    .stayInTouchText{
        font-size: 14px;
    }

 
}

*/